Repository tracking-exposed/ABANDONED-trex-B: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write --print-width 100, prettier --parser json --write

fix(process-rss): handle rss generation for entities
  packages/process-rss/src/index.js
Due: eslint --fix

feat(data): items in rss feeds are sorted by date
  packages/data/src/impressions.js
  packages/process-rss/src/index.js
  packages/service-rss/src/index.js
Due: eslint --fix

perf(rss-widget): improve performance of typeahead input
  packages/widget-rss-feeds/package.json
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix, prettier --parser json --write --print-width 100

chore(process-rss): reminder for future improvement
  packages/process-rss/src/index.js
Due: eslint --fix

chore(release): publish v0.6.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

fix(data): all entities are sorted alphabetically
  packages/data/src/entities.js
Due: eslint --fix

chore: build before releasing
  package.json
Due: prettier --parser json --write --print-width 100

chore(release): publish v0.7.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

fix(processor-cli): catch exception in processor
  packages/processor-cli/src/run.js
Due: eslint --fix

fix(process-entities): don't throw on impressions without html
  packages/process-entities/src/index.js
Due: eslint --fix

refactor(widget-rss-feeds): modified styles
  packages/widget-rss-feeds/src/index.css
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

chore(release): publish v0.8.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

Path conditions:
  eslint --fix: (any of: packages/*/src/**/*.js) or (any of: {commitlint,ava}.config.js)
  prettier --parser json --write --print-width 100: any of: *.json
  prettier --parser json --write: ((any of: .babelrc) or (any of: .lintstagedrc)) or (any of: .nycrc)
