Repository tracking-exposed/ABANDONED-trex-B: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write --print-width 100, prettier --parser json --write

fix(data): export feeds
  packages/data/src/index.js
Due: eslint --fix

feat(data): cache redis and mongo client connections
  packages/data/package.json
  packages/data/src/mongo.js
  packages/data/src/redis.js
  packages/data/test/mongo.js
  packages/data/test/redis.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

test: added placeholder tests for more accurate coverage
  packages/process-entities/test/index.js
  packages/process-rss/test/index.js
  packages/processor-cli/test/run.js
  packages/service-rss/test/index.js
  packages/services-cli/test/run.js
Due: none

refactor(data): tightened methods on feeds
  packages/data/src/feeds.js
  packages/data/test/feeds.js
Due: eslint --fix

chore(release): publish v0.2.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --parser json --write --print-width 100

feat(widget): support for UI widgets
  .babelrc
  .eslintignore
  .eslintrc
  .flowconfig
  .gitignore
  .storybook/config.js
  .storybook/preview-head.html
  .storybook/webpack.config.js
  CONTRIBUTING.md
  bootstrap/widget/CHANGELOG.md
  bootstrap/widget/README.md
  bootstrap/widget/index.html
  bootstrap/widget/package.json
  bootstrap/widget/src/icon.svg
  bootstrap/widget/src/index.css
  bootstrap/widget/src/index.js
  bootstrap/widget/src/widget.js
  bootstrap/widget/test/index.js
  bootstrap/widget/webpack.config.js
  flow-typed/preact.js
  package.json
  postcss.config.js
  stories/index.js
  test-setup.js
  webpack.config.js
  yarn.lock
Due: prettier --parser json --write --print-width 100, prettier --parser json --write

feat(widget-rss-feed): bootstrap the widget
  .storybook/config.js
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/README.md
  packages/widget-rss-feeds/index.html
  packages/widget-rss-feeds/package.json
  packages/widget-rss-feeds/src/icon.svg
  packages/widget-rss-feeds/src/index.css
  packages/widget-rss-feeds/src/index.js
  packages/widget-rss-feeds/src/widget.js
  packages/widget-rss-feeds/test/index.js
  packages/widget-rss-feeds/webpack.config.js
  stories/index.js
  stories/rss-feeds.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(widget-rss-feeds): added rss feed generator widget
  .eslintrc
  .flowconfig
  packages/utils/test/mkdirp.js
  packages/widget-rss-feeds/src/components/Url/clipboard-list-solid.svg
  packages/widget-rss-feeds/src/components/Url/index.css
  packages/widget-rss-feeds/src/components/Url/index.js
  packages/widget-rss-feeds/src/index.css
  packages/widget-rss-feeds/src/index.js
  packages/widget-rss-feeds/src/times-circle-solid.svg
  packages/widget-rss-feeds/test/index.js
  stories/rss-feeds.js
  yarn.lock
Due: eslint --fix

chore: removed old dependency from lock file
  yarn.lock
Due: none

fix(widget-rss-feeds): only disable widget if there are no entities
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

refactor(widget-rss-feeds): handle url rendering in one component
  packages/widget-rss-feeds/src/clipboard-list-solid.svg
  packages/widget-rss-feeds/src/components/Url/index.css
  packages/widget-rss-feeds/src/components/Url/index.js
  packages/widget-rss-feeds/src/icon.svg
  packages/widget-rss-feeds/src/index.css
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

fix(widget-rss-feeds): verify that a suggestion is a valid selection
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

feat(data): retrieve a list of all entities
  packages/data/src/entities.js
  packages/data/test/entities.js
Due: eslint --fix

feat(process-rss): generate a json file of all entities
  packages/process-rss/src/index.js
Due: eslint --fix

refactor(widget-rss-feeds): replace Array.includes with indexOf
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

fix(widget-rss-feeds): treat allEntities lower case
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

fix(service-rss): handle encoded urls gracefully
  packages/data/src/feeds.js
  packages/data/test/feeds.js
  packages/service-rss/src/index.js
Due: eslint --fix

docs: added operation NOTES.md
  NOTES.md
Due: none

refactor: imported on the server, reorganized RSS template
  packages/data/src/impressions.js
  packages/process-rss/src/index.js
  packages/service-rss/src/index.js
Due: eslint --fix

refactor(widgets-rss-feeds): set fixed height on suggestions drop down
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

feat(widget-rss-feeds): fetch all entities in the example index
  packages/widget-rss-feeds/README.md
  packages/widget-rss-feeds/index.html
Due: none

feat(scripts): import script from rest API
  .scripts/fetch-impressions-to-stream.js
Due: none

test(impressions): use new mongo collection scheme
  packages/data/test/impressions.js
Due: none

fix(service-rss): construct feed url without exception
  packages/service-rss/src/index.js
Due: eslint --fix

fix(scripts): treat promises right when fetching impressions
  .scripts/fetch-impressions-to-stream.js
Due: none

fix(data): enforce sort order for feeds entities
  packages/data/src/feeds.js
Due: eslint --fix

fix(script): set visibility field on impression
  .scripts/fetch-impressions-to-stream.js
Due: none

fix(widget-rss-feeds): ignore case when typing entities
  packages/widget-rss-feeds/src/index.js
Due: eslint --fix

feat(utils): added simple cli logger
  packages/utils/src/index.js
  packages/utils/src/log.js
  packages/utils/test/log.js
Due: eslint --fix

feat(processor-cli): cache event id across invocations
  .gitignore
  packages/processor-cli/src/run.js
Due: eslint --fix

refactor(data): validate feeds url input better
  packages/data/src/entities.js
  packages/data/src/feeds.js
  packages/data/test/entities.js
  packages/data/test/feeds.js
Due: eslint --fix

fix(service-rss): handle incoming feed urls better
  packages/service-rss/src/index.js
Due: eslint --fix

chore(processor-cli): lint ignore a log statement
  packages/processor-cli/src/run.js
Due: eslint --fix

chore(release): publish v0.3.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

chore: fixed travis publish script
  .travis.yml
Due: none

chore(release): publish v0.4.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

chore: export cli binaries in the modules
  packages/processor-cli/package.json
  packages/services-cli/package.json
Due: prettier --parser json --write --print-width 100

chore(travis): update npm auth token
  .travis.yml
Due: none

chore(release): publish v0.5.0
  CHANGELOG.md
  lerna.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/process-entities/CHANGELOG.md
  packages/process-entities/package.json
  packages/process-rss/CHANGELOG.md
  packages/process-rss/package.json
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/package.json
  packages/service-rss/CHANGELOG.md
  packages/service-rss/package.json
  packages/services-cli/CHANGELOG.md
  packages/services-cli/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/widget-rss-feeds/CHANGELOG.md
  packages/widget-rss-feeds/package.json
Due: prettier --parser json --write --print-width 100

fix(data): fetch all entities, not just subscribed ones
  packages/data/src/entities.js
  packages/data/test/entities.js
  packages/data/test/fixtures/impressions.js
  packages/process-rss/src/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: packages/*/src/**/*.js) or (any of: {commitlint,ava}.config.js)
  prettier --parser json --write --print-width 100: any of: *.json
  prettier --parser json --write: ((any of: .babelrc) or (any of: .lintstagedrc)) or (any of: .nycrc)
