Repository tracking-exposed/ABANDONED-trex-B: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write --print-width 100, prettier --parser json --write

.lintstagedrc:

{
  "packages/*/src/**/*.js": ["eslint --fix", "git add"],
  "{commitlint,ava}.config.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --parser json --write --print-width 100", "git add"],
  ".babelrc": ["prettier --parser json --write", "git add"],
  ".lintstagedrc": ["prettier --parser json --write", "git add"],
  ".nycrc": ["prettier --parser json --write", "git add"]
}

feat(utils): added ageingMemoize to cache with an expiration
  packages/process-entities/src/index.js
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/index.js
  packages/utils/test/ageing-memoize.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

chore: upgrade ioredis-mock dependency
  packages/processor-cli/package.json
  yarn.lock
Due: prettier --parser json --write --print-width 100

test: more tests for redis and utils
  packages/processor-cli/test/redis.js
  packages/utils/package.json
  packages/utils/test/env.js
  yarn.lock
Due: prettier --parser json --write --print-width 100

refactor(processor-cli): connect lazily to redis
  packages/processor-cli/src/redis.js
  packages/processor-cli/test/redis.js
Due: eslint --fix

feat(processor-rss): bootstrapping module
  packages/processor-rss/CHANGELOG.md
  packages/processor-rss/README.md
  packages/processor-rss/package.json
  packages/processor-rss/src/index.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(processor-cli): store impressions in mongodb
  packages/processor-cli/package.json
  packages/processor-cli/src/mongo.js
  packages/processor-cli/test/mongo.js
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor: extracted data operations into a dedicated module
  README.md
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/package.json
  packages/data/src/index.js
  packages/data/src/mongo.js
  packages/data/src/redis.js
  packages/data/test/fixtures/impressions.js
  packages/data/test/mongo.js
  packages/data/test/redis.js
  packages/process-entities/package.json
  packages/process-entities/src/index.js
  packages/processor-cli/package.json
  packages/processor-cli/src/index.js
  packages/processor-cli/src/run.js
  packages/processor-cli/src/types.js
  packages/processor-rss/src/index.js
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(data): extracted impressions into a separate module
  packages/data/package.json
  packages/data/src/impressions.js
  packages/data/src/index.js
  packages/data/src/mongo.js
  packages/data/test/impressions.js
  packages/data/test/mongo.js
  packages/process-entities/src/index.js
Due: eslint --fix, prettier --parser json --write --print-width 100

fix(data): skip _id when querying mongo data
  packages/data/src/mongo.js
  packages/data/test/impressions.js
  packages/data/test/mongo.js
Due: eslint --fix

feat(data): fetch the impression snippet along with the impression
  packages/data/src/impressions.js
  packages/data/test/fixtures/htmls.js
  packages/data/test/impressions.js
  packages/process-entities/src/index.js
Due: eslint --fix

feat(data): new addToSet and findByMember operations for mongo
  packages/data/src/impressions.js
  packages/data/src/mongo.js
  packages/data/test/mongo.js
Due: eslint --fix

chore: load html fixtures with the impressions fixtures
  .scripts/load-mongo-fixtures.js
Due: none

feat(data): add entities to impressions and fetch impressions by entity
  packages/data/src/impressions.js
  packages/data/test/fixtures/htmls.js
  packages/data/test/impressions.js
Due: eslint --fix

feat(process-entities): store extracted entities on an impression
  packages/process-entities/src/index.js
Due: eslint --fix

test(vagrantfile): install mongodb into vagrant vm
  Vagrantfile
Due: none

feat(data): add to and fetch redis sets
  packages/data/src/redis.js
  packages/data/test/redis.js
  packages/process-entities/src/dandelion.js
Due: eslint --fix

feat(data): fetch and add feed urls to entities
  packages/data/src/entities.js
  packages/data/src/index.js
  packages/data/test/entities.js
Due: eslint --fix

fix: renamed processor-rss to process-rss
  packages/process-rss/CHANGELOG.md
  packages/process-rss/README.md
  packages/process-rss/package.json
  packages/process-rss/src/index.js
  packages/processor-rss/README.md
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(processor-cli): nested event data into a data field
  packages/data/src/redis.js
  packages/data/test/redis.js
  packages/process-entities/src/index.js
  packages/processor-cli/src/run.js
Due: eslint --fix

feat(process-rss): generate atom feed for entities
  packages/process-rss/package.json
  packages/process-rss/src/index.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(data): generate feeds
  .gitignore
  env.sample
  packages/data/package.json
  packages/data/src/impressions.js
  packages/data/src/utils.js
  packages/data/test/impressions.js
  packages/data/test/utils.js
  packages/process-rss/src/index.js
  packages/process-rss/src/utils.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

test(process-rss): test mkdirP
  packages/process-rss/package.json
  packages/process-rss/test/utils.js
Due: prettier --parser json --write --print-width 100

feat(service-cli): bootstrap the service manager
  packages/service-cli/CHANGELOG.md
  packages/service-cli/README.md
  packages/service-cli/bin/servicectl.js
  packages/service-cli/package.json
  packages/service-cli/src/cli.js
  packages/service-cli/src/index.js
  packages/service-cli/src/run.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(processor-cli): extracted registerShutdown to utils
  packages/processor-cli/src/run.js
  packages/utils/src/index.js
Due: eslint --fix

refactor(processor-cli): extracted package loader to utils
  .flowconfig
  packages/processor-cli/src/index.js
  packages/processor-cli/src/loader.js
  packages/processor-cli/src/run.js
  packages/utils/package.json
  packages/utils/src/index.js
  packages/utils/test/loader.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(service-cli): start micro services using servicectl
  packages/service-cli/package.json
  packages/service-cli/src/cli.js
  packages/service-cli/src/run.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(service-cli): renamed to services-cli
  README.md
  packages/service-cli/README.md
  packages/services-cli/CHANGELOG.md
  packages/services-cli/README.md
  packages/services-cli/bin/servicesctl.js
  packages/services-cli/package.json
  packages/services-cli/src/cli.js
  packages/services-cli/src/index.js
  packages/services-cli/src/run.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(service-rss): bootstrap rss service
  packages/service-rss/CHANGELOG.md
  packages/service-rss/README.md
  packages/service-rss/package.json
  packages/service-rss/src/index.js
Due: eslint --fix, prettier --parser json --write --print-width 100

test(services-cli): cli parsing
  packages/services-cli/package.json
  packages/services-cli/src/cli.js
  packages/services-cli/test/cli.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(service-rss): fetch cached or generate new feed
  packages/service-rss/package.json
  packages/service-rss/src/index.js
  packages/service-rss/src/utils.js
  packages/service-rss/test/utils.js
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(data): storeFeeds allows one or multiple entities
  packages/data/src/entities.js
  packages/data/test/entities.js
  packages/service-rss/src/index.js
Due: eslint --fix

feat(services-cli): supply the service configuraton to the handler
  packages/service-rss/src/index.js
  packages/services-cli/package.json
  packages/services-cli/src/cli.js
  packages/services-cli/src/run.js
  packages/services-cli/test/cli.js
Due: eslint --fix, prettier --parser json --write --print-width 100

feat: use a more coherent config system using the cli parser
  .gitignore
  env.sample
  packages/process-entities/package.json
  packages/process-entities/src/index.js
  packages/process-rss/package.json
  packages/process-rss/src/index.js
  packages/processor-cli/package.json
  packages/processor-cli/src/cli.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/cli.js
  packages/utils/src/index.js
  packages/utils/test/env.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(data): provide publishEntities to push entities to the stream
  packages/data/src/entities.js
  packages/process-entities/src/index.js
  packages/service-rss/src/index.js
Due: eslint --fix

refactor(utils): extracted mkdirP and ensure feeds location
  packages/process-rss/package.json
  packages/process-rss/src/index.js
  packages/process-rss/src/utils.js
  packages/service-rss/src/index.js
  packages/utils/package.json
  packages/utils/src/index.js
  packages/utils/test/mkdirp.js
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor(data): store a to way mapping feeds <-> entities
  packages/data/src/entities.js
  packages/data/test/entities.js
  packages/service-rss/src/index.js
Due: eslint --fix

chore: refactored the fixture loading script
  .scripts/load-mongo-fixtures.js
Due: none

fix: close the full circle of the rss generation
  packages/data/src/entities.js
  packages/process-entities/src/index.js
  packages/process-rss/src/index.js
Due: eslint --fix

feat(process-rss): treat multiple entities for one feed as a boolean AND
  packages/data/src/entities.js
  packages/data/src/impressions.js
  packages/data/test/entities.js
  packages/data/test/impressions.js
  packages/process-rss/src/index.js
Due: eslint --fix

feat(service-rss): sanitize url to allow more combinations of the same
  packages/data/src/entities.js
  packages/data/src/feeds.js
  packages/data/test/entities.js
  packages/data/test/feeds.js
  packages/service-rss/src/index.js
  packages/service-rss/src/utils.js
  packages/service-rss/test/utils.js
Due: eslint --fix
