Repository tracking-exposed/ABANDONED-trex-B: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write --print-width 100, prettier --parser json --write

chore: link to the logo on cdn.rawgit.com
  README.md
Due: none

chore: keep an empty direcotry
  .gitignore
  packages/.keep
Due: none

chore: center headline in readme
  README.md
Due: none

revert: center headline in readme
  README.md
Due: none

chore: added a vagrant development server
  .gitignore
  CONTRIBUTING.md
  Vagrantfile
Due: none

chore: removed deperecated task script
  scripts/task
Due: none

ci: use custom sccript publish to make it work with a monorepo
  .scripts/publish
  .travis.yml
Due: none

fix(bootstrap): paths to badges in readme
  bootstrap/module/README.md
Due: none

chore: use flow-mono to install type definitions
  bootstrap/module/package.json
  package.json
  yarn.lock
Due: prettier --parser json --write --print-width 100

chore: don't pull flow typedefs when only checking the types
  package.json
Due: prettier --parser json --write --print-width 100

chore: removed lerna-scopes for commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(processor-cli): manage stream processors using processorctl
  packages/processor-cli/CHANGELOG.md
  packages/processor-cli/README.md
  packages/processor-cli/bin/processorctl
  packages/processor-cli/package.json
  packages/processor-cli/src/cli.js
  packages/processor-cli/src/index.js
  packages/processor-cli/src/loader.js
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/cli.js
  packages/processor-cli/test/loader.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

feat(process-entities): extract entities from dandelion
  packages/process-entities/CHANGELOG.md
  packages/process-entities/README.md
  packages/process-entities/package.json
  packages/process-entities/src/dandelion.js
  packages/process-entities/src/index.js
  packages/process-entities/test/dandelion.js
  packages/process-entities/test/fixtures/dandelion-entities.json
Due: eslint --fix, prettier --parser json --write --print-width 100

chore: added a flowmonorc
  .flowmonorc
Due: none

chore: removed failing before install step from travis.yml
  .travis.yml
Due: none

test(processor-cli): accept configuration through a config file
  packages/processor-cli/package.json
  packages/processor-cli/test/cli.js
Due: prettier --parser json --write --print-width 100

chore: moved ava configuration into package.json
  ava.config.js
  package.json
Due: eslint --fix, prettier --parser json --write --print-width 100

docs: changed the path to the logo
  README.md
Due: none

feat(processor-cli): poll and publish on redis streams
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/redis.js
Due: eslint --fix

chore: treat package.json special for linting/fixing
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Due: prettier --parser json --write --print-width 100, prettier --parser json --write

chore: upgraded ioredis-mock dependency
  packages/processor-cli/package.json
  yarn.lock
Due: prettier --parser json --write --print-width 100

feat: split up loop function into runForever and runForeverUntil
  packages/processor-cli/package.json
  packages/processor-cli/src/loop.js
  packages/processor-cli/test/loop.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

chore: lint promises
  .eslintrc
  package.json
  packages/process-entities/test/dandelion.js
  packages/processor-cli/test/redis.js
  yarn.lock
Due: prettier --parser json --write --print-width 100

refactor(processor-cli): append js to bin filename
  packages/processor-cli/bin/processorctl.js
  packages/processor-cli/package.json
Due: prettier --parser json --write --print-width 100

feat(processor-cli): handle multiple events when polling from stream
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
Due: eslint --fix

refactor(processor-cli): runForever's share code and swapped arguments
  packages/processor-cli/src/loop.js
  packages/processor-cli/test/loop.js
Due: eslint --fix

refactor(processor-cli): better types for runForever
  packages/processor-cli/src/loop.js
Due: eslint --fix

refactor(processor-cli): removed comment
  packages/processor-cli/src/redis.js
Due: eslint --fix

feat(processor-cli): register handlers on shutdown
  packages/processor-cli/src/run.js
Due: eslint --fix

feat(processor-cli): configure redis using environment variables
  .gitignore
  env.sample
  packages/processor-cli/package.json
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

chore: don't type check dists and json
  .flowconfig
Due: none

refactor(processor-cli): specify the id to poll since and define types
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/redis.js
Due: eslint --fix

feat(processor-cli): export redis interface
  packages/processor-cli/src/index.js
Due: eslint --fix

refactor(processor-cli): improved processor module loading
  packages/processor-cli/src/loader.js
Due: eslint --fix

feat(process-entities): extract entities on stream events
  env.sample
  packages/process-entities/package.json
  packages/process-entities/src/dandelion.js
  packages/process-entities/src/index.js
  packages/process-entities/test/dandelion.js
  packages/processor-cli/src/cli.js
  packages/processor-cli/src/types.js
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor: simplified functions
  packages/process-entities/src/index.js
  packages/processor-cli/src/redis.js
Due: eslint --fix

refactor(processor-cli): extracted auxiliary functions
  packages/processor-cli/src/redis.js
Due: eslint --fix

feat: fetch impressions from mongodb
  .scripts/load-mongo-fixtures.js
  .travis.yml
  env.sample
  packages/process-entities/src/index.js
  packages/processor-cli/package.json
  packages/processor-cli/src/index.js
  packages/processor-cli/src/mongo.js
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/fixtures/impressions.js
  packages/processor-cli/test/mongo.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

refactor: changed api signatures for the redis interface
  packages/process-entities/src/index.js
  packages/processor-cli/src/redis.js
  packages/processor-cli/src/run.js
  packages/processor-cli/test/redis.js
Due: eslint --fix

refactor(utils): extracted env and envOr into dedicated utils package
  README.md
  packages/process-entities/package.json
  packages/process-entities/src/index.js
  packages/processor-cli/package.json
  packages/processor-cli/src/run.js
  packages/utils/CHANGELOG.md
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/index.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write --print-width 100

Path conditions:
  eslint --fix: (any of: packages/*/src/**/*.js) or (any of: {commitlint,ava}.config.js)
  prettier --parser json --write --print-width 100: any of: *.json
  prettier --parser json --write: ((any of: .babelrc) or (any of: .lintstagedrc)) or (any of: .nycrc)
